.mobile {
  position: sticky;
  top: 0;
  z-index: 100;
}

.desktop {
  display: none;
}

.navWrapper {
  height: calc(var(--vh, 1vh) * 100);
  width: 100vw;
  transition: transform 0.5s ease;
  background: var(--background);
  position: fixed;
  top: 0;
  z-index: 100;
}

.navActive {
  transform: translateY(0);
}

.navInactive {
  transform: translateY(100vh);
}

.navButton {
  width: 100vw;
  height: 3em;
  background: linear-gradient(rgb(255, 255, 255) 30%, rgba(255, 255, 255, 0));
  display: flex;
  justify-content: center;
  padding-bottom: 5em;
  font-size: 2em;
  z-index: 100;
}

.navButton button {
  color: var(--primary);
  transform: translateY(10px);
}

.navList {
  height: 100%;
  width: 100%;
  font-size: 2.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--primary);
  padding-left: var(--space-s);
  padding-right: var(--space-s);
}

.row {
  transition:
    padding-left 1s cubic-bezier(0.19, 0.18, 0.06, 1),
    padding-right 1s cubic-bezier(0.19, 0.18, 0.06, 1);
  transition-delay: 0.2s;
}

.langSwitch {
  color: var(--primary);
  z-index: 10;
  position: absolute;
  top: var(--space-m);
  width: 100%;
  display: flex;
  justify-content: center;
}

.closeButton {
  color: var(--foreground);
  z-index: 10;
  position: fixed;
  bottom: var(--space-m);
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 1.25em;
}

.gradient {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 10em;
  background: linear-gradient(rgb(255, 255, 255), var(--primary));
}

.active {
  pointer-events: none;
}

.active::before {
  content: "(";
}

.active::after {
  content: ")";
}

@media screen and (min-width: 1000px) {
  .desktop {
    display: flex;
    justify-content: space-evenly;
    padding-top: 8px;
    height: 3em;
    color: var(--primary);
    position: sticky;
    top: 0;
    z-index: 100;
    background: linear-gradient(rgb(255, 255, 255) 30%, rgba(255, 255, 255, 0));
    font-size: 1.75em;
  }
  .mobile {
    display: none;
  }
  .navList {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
